	
	#baabtralogo{
		
		width: 15%;
	}
	#header{
		margin-top: -8px;
		width: 100%;
		margin-left: -7px;
		height: 62px;
	}
	ul{
		list-style-type:none;
		display : inline-flex;

	}
	li{
		width: 130px;
	}
	#menues{
		margin-top: -60px;
		margin-left: 250px;
	}
	#body{
		background-color: rgb(30,75,102);
		height:96%;
		margin-top: -9px;
		margin-left: -8px;
		width: 100%;
	}
	.heading{
		
		color: white;
		padding-left:  294px;
		padding-top: 100px;
	}



#button1{
width: 15%;
margin-top:52px;
margin-left: 123px;
border-radius: 9px;
}
#button2{
    width: 15%;
	position: absolute;
	background: rgba(11,126,69);
	margin-top: -132px;
	margin-left: 627px;
	border-radius: 9px;
}
.button3{
	width: 15%;
    position: absolute;
	margin-top: 13px;
	margin-left: 300px;
	border-radius: 9px;
}

p{
	margin-top: 73px;
	position: absolute;
	margin-left: 427px;
	font-family: cursive;
	color: white;
	width: 400px;
}
#inputs{
	width: 184px;
	padding-left:1200px;
	margin-top: -150px;
	position: absolute;
	
}
input{

	border-radius: 7px;
	width: 220px;
	height: 35px;
}


